@font-face {
  font-family: "helveticaBold";
  src: url(../../fonts/helveticaneuecyr-bold.woff2) format("woff2"), url(../../fonts/helveticaneuecyr-bold.ttf) format("true-type"), url(../../fonts/helveticaneuecyr-bold.eot) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "helveticaRegular";
  src: url(../../fonts/helveticaNeue-CondensedRegular.woff) format("woff");
  src: url(../../fonts/helveticaNeue-CondensedRegular.ttf) format("true-type");
  src: url(../../fonts/helveticaNeue-CondensedRegular.eot) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fontawesome";
  src: url(../../fonts/fontawesome-webfont.woff) format("woff");
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "helveticaBold", Helvetica, sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 25px;
}

h2 {
  font-family: "Cormorant", serif;
  font-size: 68px;
  line-height: 68px;
  color: #212224;
}

h3 {
  font-family: "Cormorant", serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 68px;
  display: flex;
  align-items: center;
  color: #212224;
  margin: 0;
  padding-left: 55px;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
}

.header .slider .slick-list .slick-track .slider__item {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0) 100%), url(../img/header_bg.jpg);
  height: 100vh;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .slider .slick-arrow {
  width: 50px;
  height: 7px;
  position: absolute;
  display: flex;
  z-index: 99;
  bottom: 150px;
  left: 12%;
  font-size: 0;
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center !important;
  cursor: pointer;
  outline: none;
}

.header .slider .slick-prev {
  background: url(../img/prev.png);
}

.header .slider .slick-next {
  background: url(../img/next.png);
  left: 17%;
}

.header .slider .slick-dots {
  position: absolute;
  display: flex;
  z-index: 99;
  bottom: 150px;
  left: 7%;
  margin-bottom: 0;
  cursor: pointer;
}

.header .slider .slick-dots li {
  width: 8px !important;
  height: 8px;
  border-radius: 50%;
  background: #dddddd;
  opacity: 0.2;
  font-size: 0;
}

.header .slider .slick-dots li:nth-of-type(2) {
  left: 9%;
  margin-left: 10px;
}

.header .slider .slick-dots li button {
  font-size: 0;
}

.header .slider .slick-dots .slick-active {
  background: #757575;
}

.fp-viewing-block1.loaded #moveUp,
.fp-viewing-block1.loaded #moveDown {
  display: none;
}

.slider__item_two {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 0.01%, rgba(0, 0, 0, 0) 100%), url(../img/header_bg2.jpg) !important;
}

.logo {
  margin: 22px 0 0 45px;
  display: flex;
}

.header_tittle {
  display: flex;
  text-align: left;
  margin-left: 7%;
  margin-top: -10%;
}

.header_tittle h1 {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a68e52;
}

.header_tittle h1 span {
  font-family: Cormorant;
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 68px;
  color: #fdfbfb;
}

.modal-backdrop.in {
  display: none;
}

.modal-dialog {
  max-width: 767px;
  width: 100%;
  height: 75% !important;
}

.modal-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  outline: 1px solid #a68e52;
  outline-offset: -20px;
}

.modal-header {
  position: absolute;
  right: 44px;
  top: 44px;
  border-bottom: none !important;
}

.modal-header button {
  width: 28px;
  height: 28px;
  background: #fdfbfb !important;
  border: 1px solid #a68e52;
  box-sizing: border-box;
  opacity: 1;
  border-radius: 50% !important;
  color: #000 !important;
  font-size: 20px !important;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-body h4 {
  font-family: "Cormorant", serif;
  font-size: 68px;
  line-height: 68px;
  color: #212224;
  margin-top: 45px !important;
  text-align: left;
}

.modal-img {
  width: 50%;
}

.modal-img img {
  width: 100%;
  height: 100%;
}

.form-horizontal {
  margin-top: 30px;
  width: 100%;
  margin-left: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 53px;
}

.form-group {
  width: 75%;
  height: 20%;
  margin: 0 !important;
}

.form-group div {
  width: 100%;
}

.form-group div input {
  width: 100%;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #dddddd;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.form-group div button {
  display: block;
  width: 182px;
  background: #a68e52 !important;
  border-radius: 3px;
  border: none;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.form-group:nth-of-type(3) {
  display: flex;
  justify-content: flex-start;
}

.header_contact_number {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 70px;
  width: 100%;
}

.header_contact_number a {
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #a68e52;
  text-decoration: none;
  text-align: left;
}

.header_contact_number a::after {
  content: "\f095";
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 10px;
  border: 1px solid #a68e52;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: FontAwesome;
}

.header_contact_number .content {
  width: 300px;
  height: 26px;
  padding-left: 0;
}

.header_contact_number .content button {
  display: block;
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #a68e52;
  font-family: HelveticaNeueCyr;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #dddddd;
  padding: 0 0 5px 0;
  outline: none;
}

.header_contact_number .content button:active {
  background: transparent;
  border: none;
  outline: none;
}

.header_contact_number .content button .glyphicon-phone-alt::before {
  display: none;
}

.header_contact {
  width: 250px;
  position: absolute;
  top: 28px;
  left: 15%;
  z-index: 99;
  display: flex;
  align-items: center;
}

.dropdown.show .btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #757575;
  display: flex;
  color: #dddddd;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.dropdown-menu {
  margin: 0 !important;
  border-radius: 0;
  height: fit-content;
  background: transparent;
  border: none !important;
  padding-left: 10px;
  margin-top: 15px;
}

.dropdown-menu .dropdown-item {
  display: block;
  margin-bottom: 10px;
  color: #dddddd;
  text-transform: uppercase;
}

.dropdown-menu .dropdown-item:hover {
  text-decoration: none;
}

.slider__item_two .logo {
  margin-top: 0;
}

.header-logotype {
  position: absolute;
  right: 45px;
  bottom: 20px;
}

.header_nav_footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 17px 0;
}

.header_nav_footer_container {
  margin-left: 110px;
  width: 39%;
  display: flex;
  justify-content: space-between;
}

.header_nav_footer_container p {
  color: #ddd;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.header_nav_footer_container p svg {
  margin-right: 5px;
}

.header_nav_footer_container p:nth-of-type(2):before {
  content: "M";
  display: flex;
  border: 1px solid #a68e52;
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 11px;
  margin-right: 5px;
  color: #a68e52;
}

@media (max-width: 1200px) {
  .header_contact {
    left: auto;
    right: 10%;
  }
  .header .slider .slick-next {
    left: 20%;
  }
}

@media (max-width: 768px) {
  .header_contact {
    left: auto;
    right: 10%;
  }
  .header .slider .slick-list .slick-track .slider__item {
    background-position: right !important;
  }
  .modal-dialog {
    max-width: 100%;
    width: 95%;
    height: 50vh !important;
  }
  .modal-body h4 {
    font-size: 40px;
    line-height: 40px;
    margin-top: 10px;
  }
  .form-horizontal {
    padding-bottom: 10px;
  }
  .header_tittle {
    margin-top: -30%;
  }
}

@media (max-width: 576px) {
  .header_tittle {
    padding-right: 10px;
    margin-top: -60%;
  }
  .header_tittle h1 span {
    font-size: 45px !important;
    line-height: 45px !important;
  }
  .header_contact_number a::after {
    display: none;
  }
  .header_contact {
    flex-direction: column;
    right: 2%;
    align-items: flex-end;
  }
  .header_contact_number {
    flex-direction: row-reverse;
    align-items: end;
    margin-top: -20px;
    padding-left: 10%;
  }
  .header_contact_number a {
    font-size: 15px;
  }
  .header_contact_number .content {
    width: auto;
  }
  .header_contact_number .container {
    padding-right: 0;
  }
  .show .btn {
    width: auto !important;
    height: auto !important;
    border: none !important;
    border-bottom: 1px solid #757575 !important;
    border-radius: 0 !important;
  }
  .dropdown-menu {
    width: auto !important;
    background: #a68e52;
    min-width: auto !important;
    padding-right: 5px;
  }
  .logo {
    margin: 10px 0 0 10px;
    height: 20%;
  }
  .header .slider .slick-arrow {
    left: auto;
    right: 50%;
    bottom: 35%;
  }
  .header .slider .slick-prev {
    right: auto;
    left: 5%;
  }
  .header .slider .slick-next {
    right: 5%;
  }
  .header_contact_number .content button {
    font-size: 13px;
    line-height: 13px;
    padding: 5px;
  }
  .form-group div button {
    width: auto;
  }
  .modal-body h4 {
    font-size: 30px;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .form-horizontal {
    margin-right: 10px;
  }
  .modal-dialog {
    height: 40vh;
  }
  .slider__item_two .logo {
    height: 85px !important;
  }
  .header_nav_footer_container {
    margin-left: 10px;
    width: 60%;
    margin-top: -10%;
    padding-bottom: 50px;
  }
  .header-logotype {
    right: 15px;
    top: 80vh;
    bottom: auto;
  }
  .header_nav_footer_container {
    font-size: 9px;
  }
  .header_nav_footer_container p:nth-of-type(1) {
    margin-right: 10px;
  }
  .modal-body h4 {
    margin-top: 10px !important;
  }
  .form-horizontal {
    margin-left: 10px;
  }
  .form-group {
    width: 100%;
  }
  .close {
    font-size: 8px !important;
    line-height: 19px !important;
  }
  .modal-header {
    right: 15px;
    top: 15px;
  }
  .header_contact_number .content button {
    font-size: 8px;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 319px) and (max-device-width: 736px) {
  .header_tittle {
    margin-top: 0;
  }
  .header .slider .slick-arrow {
    left: auto;
    right: 5%;
    bottom: 5% !important;
  }
  .header .slider .slick-prev {
    right: 15%;
  }
  .header .slider .slick-dots {
    left: auto !important;
    right: 30% !important;
    bottom: 5% !important;
  }
  .header_tittle h1 span {
    font-size: 40px;
    line-height: 40px;
  }
}

@media screen and (orientation: landscape) and (min-device-height: 319px) and (max-device-height: 375px) {
  .header .slider .slick-arrow {
    left: 10% !important;
    right: auto;
    bottom: 25% !important;
  }
  .header .slider .slick-next {
    left: 20% !important;
    right: auto;
  }
  .header .slider .slick-dots {
    display: none !important;
  }
  .header_tittle {
    margin-top: -10%;
  }
  .header_tittle h1 span {
    font-size: 55px;
    line-height: 55px;
  }
  .header_nav_footer_container {
    margin-left: 10px;
  }
  .header-logotype {
    right: 15px;
    bottom: 15px;
  }
  .header_contact {
    margin-top: -2%;
  }
  .header_contact_number {
    font-size: 15px;
  }
  .glyphicon {
    font-size: 15px;
  }
}

.slick-slider {
  min-width: 0;
}

.gallery {
  position: relative;
}

.slick-list {
  overflow: hidden;
  height: 100%;
  padding: 0;
}

.slick-track {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

#moveUp,
#moveDown {
  position: fixed;
  z-index: 99;
  background: transparent;
  outline: none;
  left: 45px !important;
}

#moveUp {
  top: 60%;
}

#moveDown {
  top: 70%;
}

#fp-nav {
  left: 33px !important;
  height: 50vh;
  top: 30% !important;
}

#fp-nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#fp-nav ul li {
  width: 100%;
  height: 100%;
}

#fp-nav ul li a span {
  background: #a68e52;
  box-shadow: 0px 0px 10px rgba(166, 142, 82, 0.7);
  border: none;
  width: 3px;
  height: 3px;
  top: 10px;
  left: 11px;
}

#fp-nav ul li .active {
  width: 30px;
  height: 30px;
  background: rgba(245, 245, 245, 0.1);
  border: 0.5px solid #a68e52;
  border-radius: 50%;
  margin-left: -3px;
}

#fp-nav ul li .active span {
  width: 20px !important;
  height: 20px !important;
  background: #dddddd !important;
  border: 0.5px solid #a68e52 !important;
  border-radius: 50% !important;
  left: 10px !important;
}

#fp-nav ul li .active span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  left: 0;
  top: 0;
  background: #a68e52;
  border-radius: 50%;
  z-index: 3;
  left: 50%;
  margin-left: -3px;
  top: 50%;
  margin-top: -3px;
}

#fp-nav ul li:hover .fp-tooltip {
  opacity: 0;
}

#fp-nav ul .fp-tooltip {
  font-size: 10px !important;
  line-height: 26px !important;
  letter-spacing: 0.05em !important;
  text-transform: uppercase !important;
  color: #757575 !important;
  margin-left: 20px !important;
  margin-top: 5px !important;
}

body.fp-viewing-block1 #fp-nav {
  display: none;
}

.slider-for {
  width: 70%;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.slider-for .slick-list .slick-track .slider__item {
  width: 100%;
  height: 100%;
}

.slider-for .slick-list .slick-track .slider__item img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.slider-container {
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 90vh;
  right: 0;
  z-index: 10;
  background: #f1f1f1;
}

.slider-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  width: 51.2%;
}

.slider-nav .slick-arrow {
  position: absolute;
  bottom: 28px;
  z-index: 3;
  font-size: 0;
  outline: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.slider-nav .slick-prev {
  left: -25%;
  background: url(../img/gallery-prev.png);
  width: 50px;
  height: 7px;
}

.slider-nav .slick-next {
  left: -15%;
  background: url(../img/gallery-next.png);
  width: 50px;
  height: 7px;
}

.slider-nav .slider__item {
  display: flex;
  height: 103px;
  display: flex;
  align-items: flex-end;
  outline: none;
  margin: 0 5px;
  width: 19% !important;
  cursor: pointer;
}

.slider-nav .slider__item img {
  width: 100% !important;
  height: 74px !important;
  object-fit: cover;
}

.slider-nav .slider__item.slick-current.slick-active {
  width: 25% !important;
}

.slider-nav .slider__item.slick-current.slick-active img {
  object-fit: cover;
  width: 100% !important;
  height: 103px !important;
}

.slider-nav .slick-dots {
  position: absolute;
  left: -60%;
  bottom: 27px;
  height: 10px;
  z-index: 5;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.slider-nav .slick-dots li button {
  font-size: 0;
  background: #dddddd;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.slider-nav .slick-dots .slick-active {
  border: none;
  outline: none;
}

.slider-nav .slick-dots .slick-active button {
  background: #a68e52 !important;
}

.gallery input[type="radio"] {
  display: none;
}

.gallery input[type="radio"]:checked + label {
  background-color: #fff;
  color: #a68e52;
}

#tab-btn-1:checked ~ #gallery_tabs1,
#tab-btn-2:checked ~ #gallery_tabs2 {
  opacity: 0;
  width: 100%;
}

.gallery label {
  position: absolute;
  bottom: 9vh;
  left: 34%;
  width: 14.8%;
  height: 44px;
  background-color: #f5f5f5;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  color: #212224;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.gallery label:nth-of-type(1) {
  left: 0;
  width: 34.3%;
  justify-content: flex-end;
  padding-right: 76px;
}

.container_background {
  width: 44%;
  height: 10vh;
  background: #fdfbfb;
  box-shadow: 12px 1px 8px -1px rgba(55, 55, 55, 0.2);
  position: absolute;
  left: 0;
  width: 48.8%;
  z-index: 2;
}

#gallery_tabs1,
#gallery_tabs2 {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  background: url(../../img/tree.png);
  background-position: left -30%;
  background-size: 50%;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .slider-for {
    width: 85% !important;
  }
  .slider-nav .slick-dots {
    left: -90%;
  }
  .slider-nav .slick-prev {
    left: -45%;
  }
  .slider-nav .slick-next {
    left: -30%;
  }
}

@media (max-width: 768px) {
  .slider-for {
    height: 50vh;
    width: 100% !important;
    right: 0;
  }
  .slider-container {
    top: 50vh;
    flex-direction: column;
    height: 40vh;
  }
  .gallery label {
    width: 50% !important;
    left: 0;
    top: 50vh;
    z-index: 11;
    padding-right: 0 !important;
    display: flex;
    justify-content: center !important;
  }
  .gallery label:nth-of-type(2) {
    left: 50%;
  }
  .container_background {
    width: 100%;
    top: 13%;
    height: 14vh;
  }
  .slider-nav {
    width: 100%;
    bottom: 0;
    padding: 0 10px;
  }
  .slider-nav .slick-dots {
    width: 50% !important;
    left: 25%;
    top: -14vh;
  }
  .slider-nav .slick-next {
    left: 60%;
    top: -4vh;
  }
  .slider-nav .slick-prev {
    left: 30%;
    top: -4vh;
  }
  .slider-nav .slider__item {
    width: 50% !important;
    height: 20vh !important;
  }
  .slider-nav .slider__item img {
    width: 100%;
    height: 100% !important;
  }
  .slider-nav .slider__item.slick-current.slick-active {
    width: 50% !important;
    height: 20vh !important;
  }
  .slider-nav .slider__item.slick-current.slick-active img {
    width: 100%;
    height: 100% !important;
  }
  #fp-nav {
    left: 0 !important;
    margin-top: 0 !important;
    height: 100% !important;
    max-height: 50vh !important;
    top: 0 !important;
  }
  #fp-nav ul li .fp-tooltip {
    color: #fff !important;
  }
  #moveUp,
  #moveDown {
    left: 13px !important;
  }
  #moveUp {
    top: 55%;
  }
  #moveDown {
    top: 63%;
  }
}

@media (max-width: 576px) {
  .slider-nav .slick-arrow {
    top: auto;
    bottom: -50% !important;
  }
  .slider-nav .slick-prev {
    left: 25%;
    right: auto;
  }
  .slider-nav .slick-next {
    right: 25%;
    left: auto;
  }
  .slider-container {
    height: 50vh;
  }
  .slider-nav {
    bottom: auto;
    top: 10vh;
  }
  #moveDown {
    top: 60%;
  }
  .slider-for {
    height: 40vh;
  }
  .slider-container {
    top: 40vh;
    padding-bottom: 10vh;
    height: 60vh;
  }
  .container_background {
    display: none;
  }
  .gallery label {
    top: 40vh;
  }
  #fp-nav {
    height: 200px !important;
    background: red;
  }
}

@media screen and (orientation: landscape) and (min-device-height: 219px) and (max-device-height: 650px) {
  .slider-for {
    width: 70% !important;
  }
  .tabs > label {
    height: 24px !important;
  }
  .slider-nav {
    width: 95%;
  }
  .slider-nav .slick-prev {
    left: 15%;
    top: -13vh;
  }
  .slider-nav .slick-dots {
    left: 44%;
  }
  .slider-nav .slick-next {
    left: 80%;
    top: -13vh;
  }
  .slider-nav .slider__item {
    width: 165px !important;
  }
  .slider-nav .slider__item img {
    object-fit: scale-down;
  }
  .slider-nav .slider__item.slick-current.slick-active {
    width: 165px !important;
  }
  .slider-nav .slider__item.slick-current.slick-active img {
    object-fit: scale-down;
  }
  #moveDown {
    top: 85%;
  }
  #moveUp {
    top: 75%;
  }
  .slider-for {
    height: 50vh;
    width: 100% !important;
    right: 0;
  }
  .slider-for .slider__item {
    width: 100% !important;
  }
  .slider-container {
    top: 50vh;
    flex-direction: column;
    height: 50vh;
  }
  .tabs > label {
    width: 50% !important;
    left: 0;
    top: 50vh;
    z-index: 11;
    padding-right: 0 !important;
    display: flex;
    justify-content: center !important;
  }
  .tabs > label:nth-of-type(2) {
    left: 50%;
  }
  .container_background {
    width: 100%;
    top: 13%;
  }
  .slider-nav {
    width: 100%;
    bottom: 15vh;
  }
  .slider-nav .slick-dots {
    left: 50%;
    margin-left: -48px;
    top: -17vh;
  }
  .slider-nav .slick-next {
    left: 60%;
    top: -10vh;
  }
  .slider-nav .slick-prev {
    left: 30%;
    top: -10vh;
  }
  .slider-nav .slider__item {
    width: 50% !important;
    height: 20vh !important;
  }
  .slider-nav .slider__item img {
    width: 100%;
    height: 100% !important;
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.plan {
  background: url(../img/plan-bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
}

.plan .wrapper {
  width: 65vw;
  margin: 0 auto;
}

.plan .wrapper .wrapper-bg {
  background: #ffffff;
  box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.1);
  position: relative;
  height: 76vh;
}

.tab {
  overflow: hidden;
  background: #ffffff;
  height: 44px;
  display: flex;
  justify-content: end;
}

.tab button {
  font-size: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  transition: 0.3s;
  width: 15%;
  color: #212224;
  background: #f1f1f1;
  height: 44px;
  text-transform: uppercase;
}

.tab button:nth-of-type(1) {
  padding-left: 30px;
}

.tab button.active {
  color: #a68e52;
  width: 60%;
  text-align: left;
  background: #fff;
  padding-left: 20px;
}

.tabcontent {
  display: none;
  padding: 0 50px 0 0;
  height: 60vh !important;
  width: 100% !important;
}

.tabcontent {
  animation: fadeEffect 1s;
}

.js-slider-control {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  left: 10%;
  font-size: 0;
  height: 44px;
  margin: 0;
  width: 50%;
}

.js-slider-control .slick-list {
  padding: 0 !important;
}

.js-slider-control .slick-list .slick-track {
  max-width: 100%;
  width: 90% !important;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  outline: none;
  transform: translate3d(0px, 0px, 0px) !important;
}

.js-slider-control .slick-list .slick-track li {
  width: 20% !important;
  outline: none;
  margin-right: 10px;
}

.js-slider-control .slick-list .slick-track li a {
  font-size: 12px;
  line-height: 26px;
  color: #757575;
  opacity: 0.7;
  text-transform: uppercase;
  outline: none;
  text-decoration: none;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#room2 .js-slider-control {
  left: 25%;
}

#room2 .js-slider-control .slick-slide {
  width: 100% !important;
}

#room3 .js-slider-control {
  left: 40%;
}

#room3 .js-slider-control .slick-slide {
  width: 100% !important;
}

#withTerraces .js-slider-control {
  left: auto;
  right: -5%;
}

#withTerraces .js-slider-control .slick-slide {
  width: 100% !important;
}

.js-event-slider-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.slider-img {
  width: 40%;
  height: 95%;
  padding-left: 54px;
  padding-top: 20px;
}

.slider-img img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.position-container {
  position: relative;
}

.js-event-slider {
  height: 65vh;
  width: 100%;
}

.js-event-slider .slick-list {
  height: 100% !important;
  width: 100% !important;
}

.js-event-slider .slick-list .slick-track {
  height: 100%;
}

.js-event-slider .slick-list .slick-track .slick-slide {
  height: 100%;
  outline: none;
}

.js-event-slider .slick-dots {
  position: absolute;
  left: 48%;
  bottom: 0;
  height: 10px;
  z-index: 1000;
  display: flex;
  width: 200px !important;
  justify-content: space-between;
}

.js-event-slider .slick-dots li button {
  font-size: 0;
  background: #dddddd;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
}

.js-event-slider .slick-dots .slick-active {
  border: none;
  outline: none;
}

.js-event-slider .slick-dots .slick-active button {
  background: #a68e52 !important;
}

.js-event-slider .slick-arrow {
  position: absolute;
  z-index: 1000;
  right: 0;
  bottom: -10px;
  height: 7px;
  outline: none;
  width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}

.js-event-slider .slick-prev {
  background: url(../img/gallery-prev.png);
  right: 17%;
}

.js-event-slider .slick-next {
  background: url(../img/gallery-next.png);
  right: 9%;
}

.slider-info {
  width: 60%;
  margin-top: 25px;
}

.slider-info-text {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 30px 0;
  box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.05);
}

.slider-info-text .slider-info-text-left,
.slider-info-text .slider-info-text-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider-info-text .slider-info-text-left p,
.slider-info-text .slider-info-text-right p {
  font-size: 12px;
  line-height: 26px;
  color: #212224;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.slider-info-text-left {
  width: 45%;
  padding-right: 29px;
}

.slider-info-text-right {
  width: 45%;
  padding-left: 29px;
}

.slider-contact-info {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}

.slider-contact {
  font-family: "helveticaRegular";
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.slider-contact-container-number {
  font-family: "helveticaRegular";
  font-size: 14px;
  line-height: 24px;
  color: #8a8a8a;
  margin-right: 25%;
  font-weight: 400;
}

.slider-contact-container-number a {
  font-family: "helveticaRegular";
  font-size: 14px;
  line-height: 24px;
  color: black;
}

.apartment-layout {
  position: absolute;
  top: 93px;
  left: 47%;
  z-index: 1001;
  width: 55%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;
}

.apartment-layout .slider-info-text-left,
.apartment-layout .slider-info-text-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.apartment-layout .slider-info-text-left p,
.apartment-layout .slider-info-text-right p {
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #757575;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

.apartment-layout .slider-info-text-right {
  border-left: 0.5px solid #dddddd;
}

.js-slider-control .slick-slide.slick-current.slick-active a {
  color: #212224;
}

@media (max-width: 1200px) {
  .js-slider-control {
    left: 15%;
  }
  .js-slider-control .slick-list .slick-track {
    width: 75% !important;
  }
  .js-slider-control .slick-list .slick-track li a {
    font-size: 10px;
  }
  .js-event-slider .slick-next {
    right: 0;
  }
  .js-event-slider .slick-prev {
    right: 10%;
  }
  .js-event-slider .slick-dots {
    width: 150px;
  }
  .plan .wrapper {
    width: 80%;
    margin-left: 17%;
  }
}

@media (max-width: 992px) {
  #fp-nav {
    left: 0 !important;
  }
  #moveUp,
  #moveDown {
    left: 10px !important;
  }
  .js-slider-control {
    top: 44px;
    width: 100%;
    left: 15%;
  }
  .js-event-slider {
    margin-top: 20px;
  }
  .tab button {
    width: 25% !important;
    text-align: center;
  }
  .tab .active {
    width: 25% !important;
    text-align: center !important;
  }
  #room2 .js-slider-control {
    left: 15%;
  }
  #room3 .js-slider-control {
    left: 15%;
  }
  #withTerraces .js-slider-control {
    left: 15%;
    right: 0;
  }
  .slider-img {
    height: 75%;
    width: 30%;
    padding-left: 25px;
  }
  .js-event-slider-container {
    justify-content: flex-start;
  }
  .apartment-layout {
    left: 35% !important;
    width: 70%;
  }
  .tabcontent {
    padding-right: 25px !important;
  }
  .slider-info {
    width: 70%;
  }
  .js-event-slider .slick-dots {
    bottom: 10%;
    left: 5%;
  }
  .js-event-slider .slick-arrow {
    bottom: 7%;
  }
}

@media (max-width: 768px) {
  .fp-tooltip {
    display: none !important;
  }
  .plan .wrapper {
    width: 90%;
    margin-left: 40px;
  }
  .slider-img {
    height: 50%;
  }
  h3 {
    font-size: 25px;
    line-height: 25px;
    padding-left: 30px;
    margin-bottom: 15px;
  }
  .apartment-layout {
    top: 65px;
  }
  .apartment-layout .slider-info-text-left p,
  .apartment-layout .slider-info-text-right p {
    font-size: 10px;
    line-height: 10px;
  }
  .apartment-layout .slider-info-text-left {
    padding-right: 10px;
  }
  .apartment-layout .slider-info-text-right {
    padding-left: 10px;
    border-left: none;
  }
  .slider-info-text .slider-info-text-left p,
  .slider-info-text .slider-info-text-right p {
    font-size: 10px;
    line-height: 10px;
  }
  .js-event-slider .slick-prev {
    right: 25%;
  }
  .js-event-slider .slick-next {
    right: 15%;
  }
}

@media (max-width: 576px) {
  .slider-info-text {
    justify-content: inherit;
    height: 150px;
    box-shadow: none !important;
  }
  .slider-info-text .slider-info-text-left,
  .slider-info-text .slider-info-text-right {
    align-items: center;
  }
  .apartment-layout {
    top: 65px;
    left: 43% !important;
    height: 150px;
    box-shadow: none !important;
  }
  .apartment-layout .slider-info-text-left p {
    margin-left: 17px;
  }
  h3 {
    margin-bottom: 20px;
  }
  .slider-img {
    width: 50%;
  }
  .js-event-slider .slick-next {
    right: 0;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .tab {
    height: 30px;
  }
  .tab button {
    font-size: 7px;
    height: 24px;
    padding: 0;
  }
  .tab .active {
    padding-left: 0 !important;
  }
  .plan .wrapper {
    margin-right: 40px;
    width: auto;
    height: 100%;
  }
  .js-slider-control {
    left: 4%;
    right: 4%;
    top: 15px;
    width: 92%;
  }
  .js-slider-control .slick-list .slick-track {
    width: 100% !important;
  }
  .js-slider-control .slick-list .slick-track li a {
    font-size: 8px;
  }
  .slider-img {
    padding-left: 5px;
    height: 30%;
    width: 45%;
    margin: 0 auto;
    padding-top: 0;
  }
  .js-event-slider-container {
    flex-direction: column;
  }
  .apartment-layout {
    top: auto;
    bottom: 15%;
    width: 100%;
    left: -2% !important;
  }
  .slider-info {
    width: 100%;
    margin-top: 10px;
  }
  h3 {
    font-size: 16px;
  }
  .tabcontent {
    padding-right: 0 !important;
  }
  .tab button:nth-of-type(1) {
    padding-left: 0;
  }
  .js-event-slider .slick-prev {
    left: 5%;
    right: auto;
    height: 10px;
    bottom: 0;
  }
  .js-event-slider .slick-next {
    right: 5%;
    left: auto;
    height: 10px;
    bottom: 0;
  }
}
/*# sourceMappingURL=style.css.map */