.plan {
  background: url(../img/plan-bg.png);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70%;
  .wrapper {
    width: 65vw;
    margin: 0 auto;
    .wrapper-bg {
      background: #ffffff;
      box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.1);
      position: relative;
      height: 76vh;
    }
  }
}
.tab {
  overflow: hidden;
  background: #ffffff;
  height: 44px;
  display: flex;
  justify-content: end;
}
.tab button {
  font-size: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fff;
  transition: 0.3s;
  width: 15%;
  color: #212224;
  background: #f1f1f1;
  height: 44px;
  text-transform: uppercase;
  &:nth-of-type(1) {
    padding-left: 30px;
  }
}
.tab button.active {
  color: #a68e52;
  width: 60%;
  text-align: left;
  background: #fff;
  padding-left: 20px;
}
.tabcontent {
  display: none;
  padding: 0 50px 0 0;
  height: 60vh !important;
  width: 100% !important;
  animation: fadeEffect 1s;
}
.js-slider-control {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  left: 10%;
  font-size: 0;
  height: 44px;
  margin: 0;
  width: 50%;
  .slick-list {
    padding: 0 !important;
    .slick-track {
      max-width: 100%;
      width: 90% !important;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      outline: none;
      transform: translate3d(0px, 0px, 0px) !important;
      li {
        width: 20% !important;
        outline: none;
        margin-right: 10px;
        a {
          font-size: 12px;
          line-height: 26px;
          color: #757575;
          opacity: 0.7;
          text-transform: uppercase;
          outline: none;
          text-decoration: none;
        }
      }
    }
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#room2 {
  .js-slider-control {
    left: 25%;
    .slick-slide {
      width: 100% !important;
    }
  }
}
#room3 {
  .js-slider-control {
    left: 40%;
    .slick-slide {
      width: 100% !important;
    }
  }
}
#withTerraces {
  .js-slider-control {
    left: auto;
    right: -5%;
    .slick-slide {
      width: 100% !important;
    }
  }
}
.js-event-slider-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.slider-img {
  width: 40%;
  height: 95%;
  padding-left: 54px;
  padding-top: 20px;
  img {
    object-fit: fill;
    width: 100%;
    height: 100%;
  }
}
.position-container {
  position: relative;
}
.js-event-slider {
  height: 65vh;
  width: 100%;
  .slick-list {
    height: 100% !important;
    width: 100% !important;
    .slick-track {
      height: 100%;
      .slick-slide {
        height: 100%;
        outline: none;
      }
    }
  }
  .slick-dots {
    position: absolute;
    left: 48%;
    bottom: 10px;
    height: 10px;
    z-index: 1000;
    display: flex;
    width: 200px !important;
    justify-content: space-between;
    li {
      button {
        font-size: 0;
        background: #dddddd;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        outline: none;
        cursor: pointer;
      }
    }
    .slick-active {
      border: none;
      outline: none;
      button {
        background: #a68e52 !important;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    z-index: 1000;
    right: 0;
    bottom: 0;
    height: 7px;
    outline: none;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 0;
  }
  .slick-prev {
    background: url(../img/gallery-prev.png);
    right: 17%;
  }
  .slick-next {
    background: url(../img/gallery-next.png);
    right: 9%;
  }
}
.slider-info {
  width: 60%;
  margin-top: 25px;
}
.slider-info-text {
  height: 130px;
  display: flex;
  justify-content: flex-end;
  padding: 0 0 30px 0;
  box-shadow: 0px 8px 20px rgba(33, 34, 36, 0.05);
  .slider-info-text-left,
  .slider-info-text-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
      font-size: 12px;
      line-height: 26px;
      color: #212224;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
}
.slider-info-text-left {
  width: 45%;
  padding-right: 29px;
}
.slider-info-text-right {
  width: 45%;
  padding-left: 29px;
}
.slider-contact-info {
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.slider-contact {
  font-family: "helveticaRegular";
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}
.slider-contact-container-number {
  font-family: "helveticaRegular";
  font-size: 14px;
  line-height: 24px;
  color: #8a8a8a;
  margin-right: 25%;
  font-weight: 400;
  a {
    font-family: "helveticaRegular";
    font-size: 14px;
    line-height: 24px;
    color: black;
  }
}
.apartment-layout {
  position: absolute;
  top: 93px;
  left: 47%;
  z-index: 1001;
  width: 55%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  padding: 0 0 30px 0;

  .slider-info-text-left,
  .slider-info-text-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 26px;
      color: #757575;
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
    }
  }
  .slider-info-text-right {
    border-left: 0.5px solid #dddddd;
  }
}
.js-slider-control {
  .slick-slide.slick-current.slick-active {
    a {
      color: #212224;
    }
  }
}
@media (max-width: 1200px) {
  .js-slider-control {
    left: 15%;
    .slick-list {
      .slick-track {
        width: 75% !important;
        li {
          a {
            font-size: 10px;
          }
        }
      }
    }
  }
  .js-event-slider {
    .slick-next {
      right: 0;
    }
    .slick-prev {
      right: 10%;
    }
    .slick-dots {
      width: 150px;
    }
  }
  .plan {
    .wrapper {
      width: 80%;
      margin-left: 17%;
    }
  }
}
@media (max-width: 992px) {
  .js-slider-control {
    top: 44px;
    width: 100%;
    left: 15%;
  }
  .js-event-slider {
    margin-top: 20px;
  }
  .tab {
    button {
      width: 25% !important;
      text-align: center;
    }
    .active {
      width: 25% !important;
      text-align: center !important;
    }
  }
  #room2 {
    .js-slider-control {
      left: 15%;
    }
  }
  #room3 {
    .js-slider-control {
      left: 15%;
    }
  }
  #withTerraces {
    .js-slider-control {
      left: 15%;
      right: 0;
    }
  }
  .slider-img {
    height: 75%;
    width: 30%;
    padding-left: 25px;
  }
  .js-event-slider-container {
    justify-content: flex-start;
  }
  .apartment-layout {
    left: 35% !important;
    width: 70%;
  }
  .tabcontent {
    padding-right: 25px !important;
  }
  .slider-info {
    width: 70%;
  }
  .js-event-slider {
    .slick-dots {
      bottom: 10%;
      left: 5%;
    }
    .slick-arrow {
      bottom: 7%;
    }
  }
}
@media (max-width: 768px) {
  .fp-tooltip {
    display: none !important;
  }
  .plan {
    .wrapper {
      width: 90%;
      margin-left: 40px;
    }
  }
  .slider-img {
    height: 50%;
  }
  .apartment-layout {
    top: 65px;
    .slider-info-text-left,
    .slider-info-text-right {
      p {
        font-size: 10px;
        line-height: 10px;
      }
    }
    .slider-info-text-left {
      padding-right: 10px;
    }
    .slider-info-text-right {
      padding-left: 10px;
      border-left: none;
    }
  }
  .slider-info-text {
    .slider-info-text-left,
    .slider-info-text-right {
      p {
        font-size: 10px;
        line-height: 10px;
      }
    }
  }
  .js-event-slider {
    .slick-prev {
      right: 25%;
    }
    .slick-next {
      right: 15%;
    }
  }
}
@media (max-width: 576px) {
  .slider-info-text {
    justify-content: inherit;
    height: auto;
    box-shadow: none !important;
    padding: 0;
    .slider-info-text-left,
    .slider-info-text-right {
      align-items: flex-end;
      width: 50%;
      padding: 0;
      margin-right: 15px;
      p {
        margin-bottom: 10px;
        font-size: 7px;
      }
    }
  }
  .apartment-layout {
    width: 100%;
    height: auto;
    box-shadow: none !important;
    top: 49px;
    bottom: auto;
    left: 0 !important;
    right: auto;
    padding-left: 5%;
    .slider-info-text-left,
    .slider-info-text-right {
      p {
        margin-bottom: 10px;
        font-size: 7px;
      }
    }
  }
  .js-event-slider {
    .slick-prev {
      left: 5%;
      right: auto;
      height: 10px;
      bottom: 5%;
    }
    .slick-next {
      right: 5%;
      left: auto;
      height: 10px;
      bottom: 5%;
    }
  }
  .tab {
    height: 5vh;
    button {
      font-size: 7px;
      height: 100%;
      padding: 0;
      &:nth-of-type(1) {
        padding-left: 0;
      }
    }
    .active {
      padding-left: 0 !important;
    }
  }
  .plan {
    .wrapper {
      margin-right: 40px;
      width: auto;
      height: 100%;
    }
  }
  .tablinks {
    height: 100%;
  }
  .js-slider-control {
    left: 2%;
    right: 2%;
    top: 5vh;
    height: 5vh;
    width: 96%;
    .slick-list {
      .slick-track {
        width: 100% !important;
        li {
          width: 16% !important;
          margin-right: 0;
          a {
            font-size: 8px;
          }
        }
      }
    }
  }
  .slider-img {
    padding-left: 0;
    height: 50%;
    width: 50%;
    margin-left: 12px;
    padding-top: 0;
    img {
      object-fit: contain;
    }
  }
  .js-event-slider-container {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .slider-info {
    width: 100%;
    margin-top: 10px;
  }
  .tabcontent {
    padding-right: 0 !important;
    height: auto !important;
  }
  #room2 {
    .js-slider-control {
      left: 2%;
    }
  }
  #room3 {
    .js-slider-control {
      left: 2%;
    }
  }
  #withTerraces {
    .js-slider-control {
      left: 2%;
      right: 0;
    }
  }
}
