@font-face {
  font-family: "helveticaBold";
  src: url(../../fonts/helveticaneuecyr-bold.woff2) format("woff"),
    url(../../fonts/helveticaneuecyr-bold.ttf) format("true-type"),
    url(../../fonts/helveticaneuecyr-bold.eot) format("opentype");
  font-weight: 400;
  font-style: normal;
}
